<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Argon Dashboard - Free Dashboard for Bootstrap 4 by Creative Tim
  </title>
  <% include /header.ejs%>
</head>
<script>
  var shopCommision

  function LoadDataDromDb() {
    var data = {};
    var distributorId = user_id
    data.distributorId = distributorId;
    $.ajax({
      type: 'POST',
      data: JSON.stringify(data), //input data to be sent to the server
      contentType: 'application/json; charset=utf-8',
      dataType: "json",
      url: "/shop/getshopBydistributor",
      success: function(res) {
        console.log('success');
        console.log(res);
        var statusCode = res.statusCode
        var status = res.status
        console.log("status" + status);
        console.log("statusCode" + statusCode);
        if (statusCode == "200") {
          updateDataTable(res)
        }
      },
      error: function() {
        console.log("Device control failed");
      }
    });

  }

  var mytable;

  function updateDataTable(dataAsJsonArry) {
    console.log(dataAsJsonArry.data);
    if (mytable)
      mytable.destroy();

    mytable = $('#shopsDatatable').DataTable({
      destory: true,
      "scrollX": true,
      destory: true,
      bRetrieve: true,
      searching: true,
      data: dataAsJsonArry.data,
      columns: [{
          data: "username"
        },
        {
          data: "phone"
        },
        // {
        //   data: "password"
        // },
        // {
        //   data: "distributorId"
        // },
        {
          data: "commision"
        },
        {
          data: null,
          render: function(data, row, type) {
            var html = '<div role="group" aria-label="Basic example" class="btn-group btn-group-sm alignclass">';
            html += '<button type="button" data_id=' + data._id + ' class="btnEdit btn btn-outline-success"><i class="ni ni-ruler-pencil"></i></button>';
            html += '<button type="button" data_id=' + data._id + '  class="btnDelete btn btn-outline-danger  "><i class="ni ni-basket"></i></button>';
            html += '</div>';
            return html;
          },
          "bSortable": false
        }
      ]

    });
    console.log("Reload table");
    mytable.draw();

  }




  var user_id

  var phone

  $(document).ready(function() {


    user_id = Cookies.get('user_id');
    phone = Cookies.get('phone');

    console.log("user_id");
    console.log(user_id);
    console.log("phone");
    console.log(phone);
    mytable = null;

    LoadDataDromDb();
    loadDistributorDetails()

    console.log("document ready");
    $("#addshops").click(function(e) {
      e.preventDefault();
      console.log("click done");





      url = "/shop/createshops"
      console.log(url);



      var data = {};
      var username = $('#name').val();
      var password = $('#password').val();
      var phone = $('#phone').val();
      var commision = $('#commision').val();
      var pincode = $('#pincode').val();
      var distributorId = user_id
      var shopId = $('#shopId').val();
      if (validateForm(username, phone, pincode, password, commision, distributorId)) {
        data.username = username; //input
        data.password = password; //input
        data.phone = phone; //input
        data.distributorId = distributorId; //input
        data.pincode = pincode; //input
        data.commision = commision;
        data._id = shopId; //input
        console.log(JSON.stringify(data));
        $.ajax({
          type: 'POST',
          data: JSON.stringify(data), //input data to be sent to the server
          contentType: 'application/json; charset=utf-8',
          dataType: "json",
          url: url,
          success: function(res) {
            console.log('success');
            console.log(res);
            var statusCode = res.statusCode
            var message = res.message
            var status = res.status
            console.log("Message" + message);
            console.log("status" + status);
            console.log("statusCode" + statusCode);
            if (statusCode == "200") {

              swal("Success", message, "success");
              LoadDataDromDb();
              $('#name').val("");
              $('#password').val("");
              $('#phone').val("");
              $('#commision').val("");
              $('#pincode').val("");

            } else {

              swal("Oops", message, "error");

            }


          },
          error: function() {
            console.log("Device control failed");
          }
        });
      }

    });



    function loadDistributorDetails() {
      var data = {};
      var distributorId = user_id
      data.distributorId = distributorId;
      $.ajax({
        type: 'POST',
        data: JSON.stringify(data), //input data to be sent to the server
        contentType: 'application/json; charset=utf-8',
        dataType: "json",
        url: "/distributor/getdistributor",
        success: function(res) {
          console.log('success');
          console.log(res);
          var statusCode = res.statusCode
          var status = res.status
          console.log("status" + status);
          console.log("statusCode" + statusCode);
          if (statusCode == "200") {
            shopCommision = res.data.commision
            $('#distributor_commision').text(shopCommision);

          }


        },
        error: function() {
          console.log("Device control failed");
        }
      });

    }



    $(document).on('click', '.btnEdit', function() {
      var id = $(this).attr('data_id');
      console.log("DATA ID" + id);
      url = "/shop/getshop"
      console.log(url);
      var data = {};
      data.shopId = id; //input
      console.log(JSON.stringify(data));
      $.ajax({
        type: 'POST',
        data: JSON.stringify(data), //input data to be sent to the server
        contentType: 'application/json; charset=utf-8',
        dataType: "json",
        url: url,
        success: function(res) {
          console.log('success');
          console.log(res);
          var statusCode = res.statusCode
          var message = res.message
          var status = res.status
          console.log("Message" + message);
          console.log("status" + status);
          console.log("statusCode" + statusCode);
          if (statusCode == "200") {
            $('#name').val(res.data.username);
            $('#password').val(res.data.password);
            $('#phone').val(res.data.phone);
            $('#commision').val(res.data.commision);
            $('#pincode').val(res.data.pincode);
            $('#shopId').val(res.data._id);
            $('#addshops').text("UPDATE");
          } else {
            swal("Oops", message, "error");
          }
        },
        error: function() {
          console.log("Device control failed");
        }
      });
    });
    $(document).on('click', '.btnDelete', function() {
      var id = $(this).attr('data_id');
      console.log("DATA ID" + id);
      url = "/shop/deleteShopbyId"
      console.log(url);
      var data = {};
      data.shopId = id; //input
      console.log(JSON.stringify(data));
      swal({
          title: "Are you sure?",
          text: "You will not be able to recover this category !",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Yes, I am sure!',
          cancelButtonText: "No, cancel it!",
          closeOnConfirm: false,
          closeOnCancel: false
        },
        function(isConfirm) {
          if (isConfirm) {
            $.ajax({
              type: 'POST',
              data: JSON.stringify(data), //input data to be sent to the server
              contentType: 'application/json; charset=utf-8',
              dataType: "json",
              url: url,
              success: function(res) {
                console.log('success');
                console.log(res);
                var statusCode = res.statusCode
                var message = res.message
                var status = res.status
                console.log("Message" + message);
                console.log("status" + status);
                console.log("statusCode" + statusCode);
                if (statusCode == "200") {
                  LoadDataDromDb();
                  swal({
                    title: "Success!",
                    text: "You have deleted the user !",
                    icon: "success",
                    button: "Close",
                  });
                } else {
                  swal("Oops", message, "error");
                }
              },
              error: function() {
                console.log("Device control failed");
              }
            });
          } else {
            swal("Cancelled", "Click ok to close");
            e.preventDefault();
          }
        });
    });




  });



  function validateForm(name, phone, pincode, password, commision, shop_id) {

    var isvaid = true;
    if (name == "") {
      alert("Name  Required");
      isvaid = false;
      return isvaid;
    } else if (phone == "") {
      alert("Phone Required");
      isvaid = false;
      return isvaid;
    } else if (password == "") {
      alert("Password Required");
      isvaid = false;
      return isvaid;
    } else if (commision == "") {
      alert("Commision Required");
      isvaid = false;
      return isvaid;
    } else if (commision > shopCommision) {
      alert("Commision need to be under " + shopCommision);
      isvaid = false;
      return isvaid;
    } else if (shop_id == "") {
      alert("Please relogin");
      isvaid = false;
      return isvaid;
    } else {
      isvaid = true;
      return isvaid;
    }

  }
</script>

<body class="">
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/ddash">
        <img src="./img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-bell-55"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="./img/theme/team-1-800x800.jpg
">
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Settings</span>
            </a>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Activity</span>
            </a>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="/ddash">
                <img src="./img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item   ">
            <a class="nav-link " href="/ddash">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link active" href="/addshops">
              <i class="ni ni-bullet-list-67 text-red"></i> Shops
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link " href="/transactionsall">
              <i class="ni ni-bullet-list-67 text-red"></i> Transations
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/addwallet">
              <i class="ni ni-circle-08 text-pink"></i> Add Wallet amount
            </a>
          </li>


        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->


      </div>
    </div>
  </nav>
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/shops">ADD SHOPS</a>
        <!-- Form -->

        <!-- User -->

      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="container">
              <form>


                <div class="row">


                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <span>

                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" id="name" aria-label="Name" class="form-control">
                          </div>


                        </span>
                      </div>
                      <div class="col-sm">
                        <span>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Phone</span>
                            </div>
                            <input type="number" id="phone" aria-label="Phone" class="form-control">
                          </div>

                        </span>
                      </div>
                      <div class="col-sm">
                        <span>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">PinCode</span>
                            </div>
                            <input type="number" id="pincode" aria-label="pincode" class="form-control">
                          </div>

                        </span>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="mt-3 mb-0 h-100"></div>

                <div class="row">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <span>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Password</span>
                              <p hidden> <input type="text" id="shopId" aria-label="shopId" class="form-control"></p>
                            </div>
                            <input type="text" id="password" aria-label="Password" class="form-control">
                          </div>


                        </span>
                      </div>
                      <div class="col-sm">
                        <span>
                          <div class="input-group">
                            <input type="number" id="commision" class="form-control" aria-label="Commision">
                            <div class="input-group-append">
                              <span class="input-group-text">%</span>
                              <span id="distributor_commision" class="input-group-text"></span>
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="col-sm">
                        <span>
                          <button type="button" id="addshops" class="btn btn-success btn-lg btn-block">SAVE</button>

                        </span>
                      </div>
                    </div>
                  </div>

                </div>



              </form>

            </div>



          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">ALL SHOPS</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table id="shopsDatatable" cellspacing="0" width="100%" class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <!-- <th scope="col">Password</th>
                    <th scope="col">ID</th> -->
                    <th scope="col">Commision</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</body>

</html>